.card {
    width: 50%;
    opacity: 1;
    &__img {
        display: none;
    }
    &__img-container {        
        padding: 25% 5% 15%;
    }
    &__text{
        font-size: 1.5rem;
    }
    &+&{
        margin-left: 5%;
      }
      &__left{
        transform: translate(0);
    }
    &__right{
        transform: translate(0);
    }
}