.gallery {
    
    &__container {
        width: 90%;
    }

    &__item {
        transform: scale(1);
        &_big{
            width: 99%;
        }
        &_small{
            width: 49%;
        }
    }
}
