.nav {
    &__open,
    &__close {
        display: none;
    }
    &__more-button {
        display: inline-block;
    }
    &__item:nth-child(6) {
        display: none;
    }
    &__more-item:nth-child(6) {
        display: block;
    }
}