.card {  

    width: 90%;
    display: block;
    margin: 0 auto;
    opacity: 1;
    &__img {
        display: none;
    }
    &__img-container {        
        padding: 25% 5% 15%;
    }
    &__text{
        font-size: 1.6rem;
    }
    &+&{
      margin: 3rem auto 0 auto;
    }
    &__wrap{
        display: block;
        
    }
    &__left{
        transform: translate(0);
    }
    &__right{
        transform: translate(0);
    }
    
}
